body {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
}

a {
  text-decoration: none;
}
